#Exemplo de variáveis de ambiente para o projeto Django

SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="CHANGE-ME"
POSTGRES_USER="CHANGE-ME"       # Use o usuário root do container universal
POSTGRES_PASSWORD="CHANGE-ME"   # A mesma senha definida no docker-compose do Postgres
POSTGRES_HOST="CHANGE-ME"       # O nome do container universal na rede docker
POSTGRES_PORT="5432"

